* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 1323px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    width: 1323px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url(../img/main-background-full.jpg) no-repeat center;
}

h2 {
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 41px;
    text-shadow: 0 3px 16px #3a5eff, 0 -3px 16px #3a5eff;
}

h3 {
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    color: #fd2550;
    text-shadow: 1px 1px 0 #741726;
    text-transform: uppercase;
}

.payiron {
  background-image: url("payiron.png");
  opacity: 0.639;
  position: absolute;
  left: 473px;
  top: 2070px;
  width: 965px;
  height: 53px;
  z-index: 108;
}

.main-header-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo {
    margin: 70px 0 30px 0;
}

header h2 {
    margin-bottom: 40px;
}

.features p {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-lets-play-main {
    display: block;
    width: 295px;
    height: 75px;
    background: url(../img/play-now-btn.png) no-repeat center;
    margin-left: auto;
    margin-right: auto;
}

.btn-lets-play-main-shadow {
    width: 347px;
    height: 75px;
    background: url(../img/shadow-play-now-btn.png) no-repeat center;
    margin: 30px auto 0 auto;
}

.games {
    max-width: 910px;
    margin: -74px auto 0 auto;
}

.game {
    width: 200px;
    height: 142px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    float: left;
    margin: 19px 13px 19px 13px;
    background: linear-gradient(to bottom, #333a41 0%, #9fa9b8 50%, #353c43 100%);
    padding-bottom: 5px;
}

.game-logo {
    width: 184px;
    height: 96px;
    background: url(../img/game-logo.jpg) no-repeat center;
    border: 1px solid #959fa9;
    margin: 8px 0 0 7px;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 1);
    text-align: center;
}



h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

.game-lets-play {
    display: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    width: 129px;
    height: 42px;
    background: linear-gradient(to top, #0189ec, #4b3bbd);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 2px 1px 0 #052149;
    padding-top: 8px;
    margin: 29px 0 0 25px;
}

.game-logo:hover .game-lets-play{
    display: block;
}

main h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.feedback {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 0 auto;
    font-weight: 700;
    font-style: italic;
}

.break-line {
    width: 800px;
    height: 1px;
    background: linear-gradient(to right, rgba(58,94,255,0.1), #ffffff, rgba(58,94,255,0.1));
    box-shadow: 50px 0 10px 0 #3a5eff, -50px 0 10px 0 #3a5eff;
    margin: 20px auto 30px auto;
}

.comment-content {
    display: block;
    text-align: left;
}

.comment-author {
    display: block;
    text-align: right;
    color: #a4b0df;
    margin-bottom: 50px;
}

.comment:last-child .comment-author {
    margin-bottom: 30px;
}

.advantages {
    text-align: center;
    max-width: 930px;
    margin: 0 auto 70px auto;
}

.advantage {
    float: left;
    width: 133px;
    margin: 20px 25px 20px 25px;
}

.advantage-name {
    font-size: 15px;
    line-height: 16px;
    color: #989bdf;
}

.advantage-img {
    margin-bottom: 10px;
}

.btn-lets-play-footer {
    display: block;
    width: 310px;
    height: 75px;
    margin-bottom: 15px;
    background: linear-gradient(to top, #ffd700, #f5a322);
    border-radius: 5px;
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 0 1px #d78300,
                0 5px 0 0 #836224;
    text-shadow: -1px -1px 0 #000001,
                 0.5px 0.5px 0 #ffffff;
}

.btn-shadow {
    width: 310px;
    height: 20px;
    background: radial-gradient(at center, rgba(255,255,255,0.2), rgba(0,0,0,0.5));
    border-radius: 200px / 20px;
}

.btn-container {
    width: 312px;
    margin: 0 auto 50px auto;
}

footer {
    text-align: center;
}
